	<b>Contact list HTML</b>
	<div>
	
		Search: <input ng-model="search" style="height:20px">
		
		<br/>
		
		<li ng-repeat="contact in contacts | filter:search">
          {{contact.id}} - {{contact.name}} - {{contact.email}}
          <a href="#/contacts/key/{{contact.id}}"><b>Ver</b></a>
        </li>
		
	</div>
	
	<br/>
	<br/>
	<ln/>
	<br/>
	<br/>
	<div>
		<label for="name">Name</label>
		<input  id="name"  ng-model="contact.name" class="form-control"/>
		<label  for="email">Email</label>
		<input  id="email"  ng-model="contact.email" class="form-control"/>
		<label for="phoneNumber">Phone</label>
		<input id="phoneNumber" ng-model="contact.phoneNumber" class="form-control"/>
		<p><a class="btn btn-primary btn-lg" role="button" ng-click="insertContact();">Insert</a></p>
	</div>